.btn {
    min-width: 66px;
    height: 32px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.btn.btn-primary {
    box-shadow: 0 0 0 1px rgba(86, 89, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
    background-color: var(--color-blue-500);
    color: var(--color-white);
}

.btn.btn-outline-secondary {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
    background-color: var(--color-white);
    color: var(--color-purple-900);
}
