:root {
    --color-primary: #030929;
    --color-secondary: #687196;
    --color-white: #fff;
    --color-gray: #E6EBF0;
    --color-gray-50: #FAFBFD;
    --font-family-regular: 'CircularStd-Regular', 'Inter', system-ui, -apple-system, sans-serif;
    --font-family-medium: 'CircularStd-Medium', 'Inter', system-ui, -apple-system, sans-serif;

}
