:host {
    display: block;
}

.work-center-list {
    flex: 1;
    overflow-y: auto;
}

.work-center-row {
    font-family: var(--font-family-regular);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-gray);
    transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
}
