.timescale {
    height: 25px;
    box-shadow: 0 0 0 0 rgb(255, 255, 255), 0 1px 3px 0 rgb(200, 207, 233);

    &-title {
        background-color: rgba(241, 243, 248, 0.75);
        width: 75px;
        color: rgba(104, 113, 150, 1);
        font-size: 13px;
        font-weight: 400;
        padding: 4px 8px 5px 8px;
        border-radius: 5px 0 0 5px;
    }

    &-dropdown {
        border: unset;
        height: 25px;
        border-radius: 0px 5px 5px 0px;
        width: 40px;
        color: var(--color-purple-700);
        font-size: 13px;
        font-weight: 500;

        &::after {
            margin-left: 6px;
        }

        &:focus {
            outline: none;
        }
    }

    .dropdown-menu {
        margin-top: 4px !important;
    }
}
