:host {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    padding: 2px 8px;

    &.work-order-status {
        &--complete {
            background: var(--color-green-200);
            color: var(--color-green-700);
        }

        &--in-progress {
            background: var(--color-purple-200);
            color: var(--color-purple-700);
        }

        &--blocked {
            background: var(--color-yellow-200);
            color: var(--color-yellow-700);
        }

        &--open {
            background: var(--color-blue-100);
            color: var(--color-blue-700);
        }
    }
}
