.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    border-bottom: 1px solid var(--color-gray);
    padding: 16px 24px;
}

.drawer-headline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.drawer-title {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.drawer-subtitle {
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 19px;
}

.drawer-actions {
    display: flex;
    gap: 8px;
}

.drawer-body {
    padding: 24px;
}
