@use './styles/reset';
@use './styles/variables';

html {
  height: 100%;
}

body {
  font-family:
    'Circular Std',
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--color-primary);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  background-color: var(--color-white);
}
